body > #first-main-container {
  min-width: none;
  min-height: 85vh;
}

main#welcome-page {
  width: 48rem;
  height: auto;
}

main#sign-in-form,
main#sign-up-form {
  max-width: 24rem;
  max-height: none;
}

main#dishes .card {
  width: 18rem;
  height: auto;
}

main#dish #dish-detail {
  width: 24rem;
  height: auto;
}

main#dish #order-form {
  width: 22rem;
  height: auto;
}
