body > .container {
  width: 60rem;
  height: auto;
  max-width: 100%;
  min-height: 100vh;
}

main {
  min-height: 75vh;
}

main#sign-in-form,
main#sign-up-form {
  max-width: 24rem;
  max-height: none;
}

main#dishes .card {
  width: 18rem;
  height: auto;
}
