{{page-title "Orders"}}

<div class="row mb-3">
  <div class="col">
    <h3>Your Orders</h3>
  </div>
</div>
<div class="row mb-3">
  <div class="col-10">
    <Orders class="table table-bordered" @columns={{array "#" "Name" "Price" "Qty" "Total"}} @orders={{this.model}} as |grandTotal|>
      <tfoot>
        <tr>
          <th colspan="4" class="fs-5">Grand total</th>
          <th>{{local-string grandTotal}}</th>
        </tr>
      </tfoot>
    </Orders>
  </div>
</div>
