{{page-title "Sign up"}}

<div id="sign-up-form" class="col mx-auto">
  <h3>Sign up</h3>
  <p id="alert-collapse" class="alert alert-danger collapse" role="alert"></p>
  <CustomerForm class="mt-3 mb-4"
    @controller={{this}}
    @action="signUp"
    @fields={{array
      (hash type="email" id="email" text="Email")
      (hash type="text" id="username" text="Username")
      (hash type="password" id="password" text="Password")
      (hash type="password" id="confirm" text="Confirm password")
    }}
  >
    Sign up
  </CustomerForm>
</div>
