{{#let "Botdistrikt Restaurant Orders" as |appName|}}
{{page-title appName}}

<div class="container py-3" id="first-main-container">
  <Header @appName={{appName}}>
    <LinkTo @route="customer.sign-in" class="me-3 link-body-emphasis text-decoration-none">
      Sign In
    </LinkTo>
  </Header>
  {{outlet}}
</div>

<div class="container">
  <footer class="mt-4 py-3 border-top">
    <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
  </footer>
</div>

{{/let}}
