<main class="container" id="welcome-page">
  <div class="p-4 pb-5 mx-auto text-center">
    <h1 class="display-5 fw-normal text-body-emphasis">Welcome to our Restaurant !.</h1>
    <p class="fs-5 text-body-secondary mx-auto">
      This our Restaurant taste comes from good recipes and from fresh, simple and tasteful ingredients straight since longtime ago. In every menu item from our dishes is there is a bit of chill culture and flavor.
    </p>
    <a href="{{rootURL}}dishes" class="btn btn-lg btn-primary m-3">Order now</a>
  </div>
</main>
